* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: lemonchiffon;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho_imagem{
    width: 12%;
    }
    
    .cabeçalho_titulo{
    font-size: 50px;
    }
    
    .cabeçalho_lista_item{
    margin: 25px 0px 25px 0px;
    font-size: 16px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(lemonchiffon, #dd371a);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 30px;
    }
    
    .imagem_arvore{
    width: 15%;
    }
.introdução{
    margin: 0 0 30px 0;
}
    .apresentaçao_trabalho2{
      background-color: #dd371a;  
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24x 0;
    }
  .imagem_semana1{
    width: 20%;
  }
  .semana01{
    background-image: linear-gradient(rgb(196, 26, 26));
    display: flex;
    justify-content: space-around;
  }
  .imagem_semana2{
    width: 30%;
  }
  .imagem_semana3{
    width: 25%;
  }
  .imagem_seman3{
    width: 25%;
  }
  .imagem_semana4{
    width: 30%;
  }
  .escola-texto{
    font-size: 20px;
  }
  .titulo_apresentaçao_trabalho2{
    font-size: 30px;
  }